html {
  font-family: 'Kanit', sans-serif;
  color: #F0F1F0;
}

.grid {
  min-height: 40em;
}

/* QUOTE 1 */

.split {
  opacity: .4;
}
.split > span{
  color: #0084b6;
  opacity: .8;
}

.blank-1, .quote-1 div:first-child {
  background-color: #4048C9;
}

.blank-2, .quote-1 div:last-child {
  background-color: #080E33;
  color: #0084b6;
}

.cursive {
  font-family: 'Parisienne', cursive;
}

/* QUOTE 2 */

.quote-2 {
  background-color: #0084b6;
}

.quote-2 > div:nth-child(2) p {
  border-top: 3px solid #F0F1F0;
  border-bottom: 3px solid #F0F1F0;
}

.line-1 div  {
    width: 2em;
    height: .6em;
    background-color: #F0F1F0;
    opacity: .5;
}

.line-2 div {
    width: 2em;
    height: .6em;
    background-color: #F0F1F0;
    opacity: .5;
}

/* QUOTE 3 */

.quote-3 {
  background-color:#080E33;
  color: #F0F1F0;
}

.quote-3 div:first-child {
  width: .5;
  min-height: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 75px;
  border: 3px solid #F0F1F0;
  -ms-transform: skewY(10deg);
  -webkit-transform: skewY(10deg);
  transform: skewY(10deg)
}

/* QUOTE 4 */

.quote-4 {
  background-color: #0084b6;
  color: #01087C;
  opacity: .6;
}

.quote-4 div:last-child{
  color: #F0F1F0;
  opacity: .6;
}

.italic{
    animation:blinkingText 1.2s infinite;
}

/* QUOTE 5 */

.quote-5 {
  background-color: #4048C9;
  color: #080E33;
}

.quote-5 div:first-child {
  color: #01087C;
  opacity: .3;
}

.quote-5 div:last-child {
  background-color: #F0F1F0;
  opacity: .3;
}

/* BLINKING TEXT + GLOW EFFECT */

@keyframes blinkingText{
  0%{     color: #A71D2B;    }
  10%{    color: #A71D2B;}
  20%{    color: transparent; }
  30%{    color:transparent;  }
  40%{    color:#038C73;  }
  50%{    color:#038C73;  }
  60%{    color:#038C73;  }
  70%{    color:transparent;  }
  80%{    color:transparent;  }
  100%{   color: #A71D2B;   }
}

0%{     color: #A71D2B;    }
10%{    color: #A71D2B;}
20%{    color: transparent; }
30%{    color:transparent;  }
40%{    color:#038C73;  }
50%{    color:#038C73;  }
60%{    color:#038C73;  }
70%{    color:transparent;  }
80%{    color:transparent;  }
100%{   color: #A71D2B;   }
}
