html {
  font-family: 'Kanit', sans-serif;
}

.grid {
  min-height: 20em;
}

.quote-3, .quote-4, .quote-5 {
  display: none;
}

/* QUOTE 1 */

.kill {
  font-family: 'Kanit', sans-serif;
}

.split > span{
  color: #C9273E;
}

.blank-1, .dress {
  background-color: #C9273E;
}

.blank-2, .time {
  background-color: #2D102D;
  color: #C9273E;
}

.dress, .time {
  font-family: 'Parisienne', cursive;
}

/* QUOTE 2 */

.quote-2 {
  background-color: #0084b6;
  color: #F0F1F0;
}

.quote-2 > div:nth-child(2){
  border-top: 3px solid #F0F1F0;
  border-bottom: 3px solid #F0F1F0;
}
