.quote-2, .quote-3, .quote-4, .quote-5 {
  display: none;
}

.kill {
  font-family: 'Kanit', sans-serif;
}

.split > span{
  color: #fff
}

.blank-1, .dress {
  background-color: #e1c1d0;
}

.blank-2, .time {
  background-color: #411c36;
  color: #fff;
}

.dress, .time {
